<select
  class="form-select inline-select"
  aria-label="Default select example"
  id="feature1"
  name="listing[categories][]"
>
  <option selected disabled>Feature 1</option>
  <%- include("options.ejs") %>
</select>
<select
  class="form-select inline-select"
  aria-label="Default select example"
  id="feature2"
  name="listing[categories][]"
>
  <option selected disabled>Feature 2</option>
  <%- include("options.ejs") %>
</select>
<select
  class="form-select inline-select"
  aria-label="Default select example"
  id="feature3"
  name="listing[categories][]"
>
  <option selected disabled>Feature 3</option>
  <%- include("options.ejs") %>
</select>
