<option value="Rooms">Rooms</option>
<option value="Beach">Beach</option>
<option value="Camping">Camping</option>
<option value="Iconic Cities">Iconic Cities</option>
<option value="Beachfront">BeachFront</option>
<option value="Bed&Breakfasts">Bed&Breakfast</option>
<option value="Castles">Castles</option>
<option value="Ski-in/out">Ski-in/out</option>
<option value="Amazing pools">Amazing Pools</option>
<option class="italic-bold" value="">--None--</option>
